@import "./modern-normalize.css";

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

.error {
    text-align: center;
    font-weight: 600;
}

.breed-select {
    display: block;
    margin: 70px auto 24px;
    min-width: 300px;
}

.cat-info {
    display: flex;
    gap: 20px;
    padding: 0 10vw;
    justify-content: center;
    align-items: flex-start;
}

.textblock {
    flex-basis: 500px;
}

.hidden {
    display: none;
}

/* LOADER */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #000000;
    font-size: 7px;
    position: fixed;
    top: 0;
    left: 50%;
    text-indent: -9999em;
    transform: translateX(-50%);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}